<h2 mat-dialog-title>Add a new photo</h2>
<mat-dialog-content>
  <div class="label">
    <mat-form-field appearance="standard" class="test">
      <mat-label>Label</mat-label>
      <input matInput placeholder="placeholder" [(ngModel)]="label">
    </mat-form-field>
  </div>
  <div class="select-img">
    <input type="file" class="file-input" accept="image/*"
           (change)="onFileSelected($event)" #fileUpload>
    <button mat-raised-button
            (click)="fileUpload.click()"
            class="select--photo"
            [disabled]="selectedFile != undefined">Select a photo</button>
    <p *ngIf="selectedFile">You have selected {{selectedFile.name}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="mat-dialog-close">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSubmit()">Submit</button>
  </div>
</mat-dialog-actions>


