<div class="navbar--container">
  <div class="left">
    <img src="assets/my_unsplash_logo.svg" alt="my_unsplash_logo.svg" class="logo">
    <form class="searchbar">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search by name" #search (keyup)="getValue(search.value)">
      </mat-form-field>
    </form>
  </div>
  <button matTooltip="Upload images forbidden now (security reasons)!!" class="add-photo--btn" (click)="addNewPhoto()">Add a photo</button>
</div>
